.main-input{
    font-size: 30px;
    width: 100%;
    border: 5px solid #000;
    height: 50px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

.main-input.-message{
    height: 318px;

}