h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #F25A70;
    text-shadow: 4px 4px 0px #000;

}
/* #first-screen{
    display: block;
    background-image: url(/assets/img/Foto\ de\ fundo.png);
    width: auto;
    height: 800px;

}
#main-card {
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 10px 10px 0 #000;
    font-family: 'Press Start 2P';
    text-align: center;
    text-shadow: 4px 4px 0px #000;
    padding: 40px 34px;
    margin-top: 116px;
    margin-left: 90px;
}

#main-card #name {
    color: #F25A70;
    font-size: 40px;
    margin-bottom: 33px;
}
#main-card #specialty {
    color: #fff;
    font-size: 30px;
}

#buttons-card{
    display: block;
    margin-top: 38px;
    margin-left: 181px;
}
#buttons-card .button {
    margin-right: 112px; 
} */